<h1>bookmarklet</h1>

<div>
<pre>
javascript:(function(){var s=document.createElement(&quot;script&quot;);s.charset=&quot;UTF-8&quot;;s.language=&quot;javascript&quot;;s.type=&quot;text/javascript&quot;;var d=new Date;s.src=&quot;https://atodeyomo.herokuapp.com/js/core.js&quot;;document.body.appendChild(s)})();
</pre>
</div>




