<script type="text/javascript">
	function showBookmarklet() {
		var pw = document.getElementById('textpw').value ;
		var previewText = 'javascript:(function(){var s=document.createElement("script");s.charset="UTF-8";s.language="javascript";s.type="text/javascript";var d=new Date;s.src="' + '<%= @baseurl %>' + '/core.js?pw='+ pw + '";document.body.appendChild(s)})();'
		document.getElementById('bookmarkletPreview').innerText = previewText ;
	}
</script>

<h1>password</h1>
<input type="text" id="textpw" size="30" onkeyup="showBookmarklet()"></input>

<h1>bookmarklet</h1>

<div>
<textarea id="bookmarkletPreview" rows="4" cols="100">
(ここに表示されます)
</textarea>
</div>




